body {

  background-color: #8400ff;

}

.jumbotron h1{

    color: #faebf5;

    text-align: center;

}

.jumbotron{

    padding-top: 1%;

    background-color:#8400ff;

    text-align: center;

}

img {

margin-top: 5%;



  width: 15%;

}

.submitFont{

    color: rgb(114, 240, 114);

    text-align: center; 

    padding-top: 1%;

}



.add {

  text-align: center;

}



.button {

width: 150px;

text-align: center;

margin:0 auto;

}



#text{

width: 100%;

text-align: center;

}



#bName{

margin-left: auto;

margin-right: auto;

}